@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

i{
  margin: 0 0.4rem;
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.section {
  padding: 4rem 0 2rem;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */