@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --toastify-color-info: #fff  !important;
}

html {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

i {
  margin: 0 0.4rem;
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.section {
  padding: 8rem 0 4rem;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

.button {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  font-weight: 550;
  font-size: 1rem;
}

.button_flex {
  display: inline-flex;
  align-items: center;
}

.button_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}


@media screen and (max-width:420px){
  .section {
    padding: 6rem 0 8rem;
  }
  .container {
    margin: 0 3rem;
  }
}